/* gg sans font */
@import url(https://github.com/RoyalQX/Discord-11/blob/main/release/font/ggsansMedium.ttf);
/* Font */
:root {
    --font-primary: gg sans, sans-serif;
    --font-display: gg sans, sans-serif;
    --font-headline: gg sans, sans-serif;
}
